body {
    width: 100%;
    max-width: 100%;
    min-width: 10%;
    height: 30vw;
    margin: 0vw;
    display: block;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    min-width: 75%;
    height: 6vw;
    margin: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(34, 170, 129);
}
nav ul li {
    margin-top: 1vw;
}
h1 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-size: 6vw;
    color: rgb(34, 170, 129);
    text-align: center;
    margin-top: 12vw;
    margin-bottom: 1.5vw;
    padding-bottom: 0px;
}
h2 {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 5vw;
}
h2, h3, h4, .item, .sub-item, .instituicao {
    font-family: "Poppins", sans-serif;
    color:rgb(53, 61, 59);
}
h4 {
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
}
figure .link-para-reportagem a:hover, .artigos a:hover {
    color:rgb(53, 61, 59);
}
ul {
    list-style: none;
}
ul li a {
    color:rgb(34, 170, 129);
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight:500;
    padding: 1vw;
    text-decoration: none;
}
img {
    margin: none;
    width: 40vw;
    padding-bottom: 0.5vw;
}
figure .link-para-reportagem a, .artigos a {
    color:rgb(34, 170, 129);
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
}
.container-principal {
    margin-bottom: 5vw;
}
.artigos, .certificacoes {
    padding-bottom: 5vw;
}
.menu-items {
    display: flex;
    flex-direction: row;
}
.menu-items li a {
    color: white;
    font-size: 1.5vw;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
}
.menu-items li a:hover {
    color:rgb(53, 61, 59);
    cursor: pointer;
}
.menu-items li .pag-inicial {
    margin-right: 5vw ;
}
.menu-items li .formacao {
    margin-left: 5vw;
}

.titulo-lista {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 2vw;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.item {
    font-size: 1.5vw;
    font-weight: 700;
}
.instituicao {
    font-size: 1.5vw;
    font-weight: 500;
}
.sub-item {
    font-size: 1.5vw;
    font-style: italic;
    margin-bottom: 1vw;
}

.artigos p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    color:rgb(53, 61, 59);    
    text-align: center;
}

.lista-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lista-redes li a:hover, ul li a:hover {
    color:rgb(53, 61, 59);
}
.reportagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: none;
    padding: none;
    border: none;
}
@media (min-width: 360px) and (max-width: 1024px) {
    nav {
        min-width: 360px;
        max-width: 1024;
    }
    body{
        min-width: 360px;
        max-width: 1024;
    }
}